[coinBewt]
server=chat.freenode.net
port=7000
use_ssl=True
nickname=coinBewt
altnickname=coinBewt__
user=coinBewt
realname=voted hottest and most likely to succeed 2020
quitmsg=ded.
channels=#coinBewt #crypto
cmd_prefix=?
callback=handle_callback
fiat=USD